/*
 * Login: xvalen27
 *
 * Doplnte sve reseni.
 *
 * Nezapomente pridat strucne hromadne komentare pro pravidla jednotlivych sekci
 * a pro netrivialni useky kodu (napr. bubliny v sekci #refs)
 */

html{
    min-width: 768px;
}

body{
	font-family: 'PT Sans', 'Special Elite';
	font-size: 14px;
	line-height: 1.7;
	min-width: 768px;
    margin-left: 20px;
    margin-right: 20px;
    margin: 0 auto;
}

.content {
    max-width: 1200px;
    min-width: 768px;
    margin: auto;
}

#header{
    width: 100%;
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#logo{
    color: steelblue;
    font-family: 'Special Elite';
    font-size: 40px;
    height: 100%;
}

#header .content{
    background-size: contain;
    width: 1200px;
}

#header .content h1 {
    margin-bottom: 0px;
    margin-left: 20px;
    color: white;
    font-size: 64px;
}

#get-started{
    display: inline-flex;
    border-radius: 15px;
    border: 2px solid #bfbfbf;
    padding: 20px;
    margin-top: 10px;
    margin-left: 25px;
    font-size: large;
}

#get-started a{
    color: #bfbfbf;
    text-decoration: none;
}

#get-started:hover{
    background-color: steelblue;
    border: none;
    color: white;
    border-radius: 15px;
}

#header-title{
    margin-top: 300px;
    font-weight: bold;
    margin-left: 5px;
    font-size: 64px;
}

#navigation{
    margin: 0 auto;
    font-size: 13px;
    letter-spacing: .05em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

li{
    float: left;
    text-align: center;
    width: 70px;
    list-style-type: none;
}

li:hover{
    border: 1px solid #bfbfbf;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

li a{
    color: #bfbfbf;
    text-decoration: none;
}

ul{
    margin: 0;
    padding: 10px;
}

#logo{
    font-size: 25px;
    width: 50%;
    float: left;
    margin-top: 10px;
}

#logo a{
    color: steelblue;
    text-decoration: none;
}

#networks{
    float: right;
    margin-right: 50px;
    clear: both
}

.fab{
    padding-right: 5px;
    color: steelblue;
    padding-right: 10px;
}

.fas{
    color: steelblue;
    padding-right: 5px;
    padding-left: 15px;
}

#contacts{
    width: 25%;
    float: right;
    margin-right: 50px;
    position: relative;
    margin-top: 10px;
}

#contacts a{
    color: #bfbfbf;
    text-decoration: none;
}

#phone{
    width: 50%;
    margin-right: 5px;
    color: #bfbfbf;
}

#phone a{   
    text-decoration: none;
}

#mail:hover{
    color: white;
}

#logo a:hover{
    color: white;
}

#networks:hover{
    color: white;
}

h2{
    font-size: 32px;
    text-align: center;
}

p{
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
}

#services{
    text-align: center;
    padding-bottom: 80px;
}

.services-column{
    width: 100%;
    height: 100%;
    text-align: center;
    color: #898989;
}

#services > div:nth-child(1) > div:nth-child(3){
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 40px;
    grid-column: 2;
    margin-left: 24%;
    margin-right: 24%;
    width: 550px;
}

.services-card{
    color: #bfbfbf;
    box-shadow: 0 0 10px 0 #bfbfbf;
}

.services-card:hover{
    box-shadow: 0 0 10px 0 steelblue;
}

.services img:first-child{
    padding: 5px;
}

.services-card:hover img:first-child{
    transition: 0.5s;
    display: none;
}

.services-card:hover img:last-child{
    background-color: steelblue;
    display: inline;
}

.services-card img:last-child{
    display: none;
}

#services img{
    width: 50px;
    margin-top: 20px;
    border: 1px solid steelblue;
    border-radius: 5px;
}

h3{
    font-size: 24px;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    color: black;
}

.services-card p{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 25px;
    margin: 0;
}   

#about{
    background-color: #f7f7f7;
    padding: 60px;
    overflow: hidden;
    display: flex;
}

.about-item{
    padding-top: 40px;
    padding-bottom: 40px;
}

.about-item img{
    transition: 0.5s ease-in-out;
}

.about-item p{
    transition: 0.5s ease-in-out;
}

.about-item h2{
    transition: 0.5s ease-in-out;
}

#about .content .about-item:nth-child(odd){
    float: left;
}

#about .content .about-item:nth-child(even){
    float: right;
}

#about .content .about-item:nth-child(odd) img{
    float: left;
    width: 40%;
}

#about .content .about-item:nth-child(odd) p{
    float: right;
    width: 50%;
    padding: 0;
    text-align: left;
    padding-left: 40px;
}

#about .content .about-item:nth-child(odd) h2{
    float: right;
    width: 50%;
    text-align: left;
    padding-left: 80px;
}

#about .content .about-item:nth-child(even) img{
    float: right;
    width: 40%;
}

#about .content .about-item:nth-child(even) p{
    float: left;
    width: 50%;
    padding: 0;
    text-align: left;
    padding-right: 80px;
}

#about .content .about-item:nth-child(even) h2{
    float: left;
    width: 50%;
    text-align: left;
}

#about .content .about-item:nth-child(odd) img:hover{
    float: left;
    width: 50%;
}

#about .content .about-item:nth-child(odd) img:hover + h2 + p{
    float: left;
    display: unset;
    width: 40%;
    text-align: left;
    padding-left: 80px;
}

#about .content .about-item:nth-child(odd) img:hover + h2{
    float: left;
    display: unset;
    width: 40%;
    text-align: left;
}

#about .content .about-item:nth-child(even) img:hover{
    float: right;
    width: 50%;
}

#about .content .about-item:nth-child(even) img:hover + h2 + p{
    float: left;
    display: unset;
    width: 40%;
    text-align: left;
    padding-right: 80px;
}

#about .content .about-item:nth-child(even) img:hover + h2{
    float: left;
    display: unset;
    width: 40%;
    text-align: left;
}