/*
 * Login: xvalen27
 *
 * Doplnte sve reseni.
 *
 * Nezapomente pridat strucne hromadne komentare pro pravidla jednotlivych sekci
 * a pro netrivialni useky kodu (napr. bubliny v sekci #refs)
 */


/*Hlavna cast stranky*/ 
body{
	font-family: 'PT Sans', 'Special Elite';
	font-size: 14px;
	line-height: 1.7;
	min-width: 768px;
    margin: auto;
}

.content {
    max-width: 1200px;
    min-width: 768px;
    margin: auto;
}

/*header*/
#header{
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#header .content{
    background-size: contain;
    width: 1200px;
}

#header .content h1 {
    margin-bottom: 0px;
    margin-left: 20px;
    color: white;
    font-size: 64px;
}

#get-started{
    display: inline-flex;
    border-radius: 15px;
    border: 2px solid #bfbfbf;
    padding: 20px;
    margin-top: 10px;
    margin-left: 25px;
    font-size: large;
}

#get-started a{
    color: #bfbfbf;
    text-decoration: none;
}

#get-started:hover{
    background-color: steelblue;
    border: none;
    color: white;
    border-radius: 15px;
}

#header-title{
    margin-top: 300px;
    font-weight: bold;
    margin-left: 5px;
    font-size: 64px;
}

#navigation{
    margin: 0 auto;
    font-size: 13px;
    letter-spacing: .05em;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

#navigation li{
    float: left;
    text-align: center;
    width: 70px;
    list-style-type: none;
}

#navigation li:hover{
    border: 1px solid #bfbfbf;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

#navigation li a{
    color: #bfbfbf;
    text-decoration: none;
}

#navigation ul{
    margin: 0;
    padding: 10px;
}

#logo{
    width: 50%;
    float: left;
    margin-top: 10px;
    color: steelblue;
    font-family: 'Special Elite';
    font-size: 40px;
    height: 100%;
}

#logo a{
    color: steelblue;
    text-decoration: none;
}

#networks{
    float: right;
    margin-right: 50px;
    clear: both
}

.fab{
    padding-right: 5px;
    color: steelblue;
    padding-right: 10px;
}

.fas{
    color: steelblue;
    padding-right: 5px;
    padding-left: 15px;
}

#contacts{
    width: 25%;
    float: right;
    margin-right: 50px;
    position: relative;
    margin-top: 10px;
}

#contacts a{
    color: #bfbfbf;
    text-decoration: none;
}

#phone{
    width: 50%;
    margin-right: 5px;
    color: #bfbfbf;
}

#phone a{   
    text-decoration: none;
}

#mail:hover{
    color: white;
}

#logo a:hover{
    color: white;
}

#networks:hover{
    color: white;
}

h2{
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

p{
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
}

/*Our Services*/
#services{
    text-align: center;
    padding-bottom: 80px;
}

.services-column{
    width: 100%;
    height: 100%;
    text-align: center;
    color: #898989;
}

#services > div:nth-child(1) > div:nth-child(3){
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 40px;
    grid-column: 2;
    margin-left: 24%;
    margin-right: 24%;
    width: 550px;
}

.services-card{
    color: #bfbfbf;
    box-shadow: 0 0 10px 0 #bfbfbf;
}

.services-card:hover{
    box-shadow: 0 0 10px 0 steelblue;
}

.services img:first-child{
    padding: 5px;
}

.services-card:hover img:first-child{
    transition: 0.5s;
    display: none;
}

.services-card:hover img:last-child{
    background-color: steelblue;
    display: inline;
}

.services-card img:last-child{
    display: none;
}

#services img{
    width: 50px;
    margin-top: 20px;
    border: 1px solid steelblue;
    border-radius: 5px;
}

h3{
    font-size: 24px;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    color: black;
}

.services-card p{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 25px;
    margin: 0;
}   

/*About Us*/
#about{
    background-color: #f7f7f7;
    padding: 60px;
    overflow: hidden;
    display: flex;
}

.about-item{
    padding-top: 40px;
    padding-bottom: 40px;
}

.about-item img{
    border-radius: 5px;
}

.about-item img{
    transition: 0.5s ease-in-out;
}

.about-item p{
    transition: 0.5s ease-in-out;
}

.about-item h2{
    transition: 0.5s ease-in-out;
}

#about .content .about-item:nth-child(odd){
    float: left;
}

#about .content .about-item:nth-child(even){
    float: right;
}

#about .content .about-item:nth-child(odd) img{
    float: left;
    width: 40%;
}

#about .content .about-item:nth-child(odd) p{
    float: right;
    width: 50%;
    padding: 0;
    text-align: justify; 
    padding-left: 40px;
}

#about .content .about-item:nth-child(odd) h2{
    float: right;
    width: 50%;
    text-align: justify; 
    padding-left: 80px;
}

#about .content .about-item:nth-child(even) img{
    float: right;
    width: 40%;
}

#about .content .about-item:nth-child(even) p{
    float: left;
    width: 50%;
    padding: 0;
    text-align: justify; 
}

#about .content .about-item:nth-child(even) h2{
    float: left;
    width: 50%;
    text-align: left;
}

#about .content .about-item:nth-child(odd) img:hover{
    float: left;
    width: 50%;
}

#about .content .about-item:nth-child(odd) img:hover + h2 + p{
    float: left;
    display: unset;
    width: 40%;
    text-align: left;
    padding-left: 80px;
}

#about .content .about-item:nth-child(odd) img:hover + h2{
    float: left;
    display: unset;
    width: 40%;
    text-align: left;
}

#about .content .about-item:nth-child(even) img:hover{
    float: right;
    width: 50%;
}

#about .content .about-item:nth-child(even) img:hover + h2 + p{
    float: left;
    display: unset;
    width: 40%;
    text-align: left;
    padding-right: 80px;
}

#about .content .about-item:nth-child(even) img:hover + h2{
    float: left;
    display: unset;
    width: 40%;
    text-align: left;
}

/*team*/
#team{
    text-align: center;
    padding-bottom: 50px;
}

#team .team-card{
    text-align: center;
}

#team h2{
    text-transform: uppercase;
    margin-top: 50px;
}

.team-card{
    width: 20%;
    display: inline-block;
    margin: 10px;
    border: 1px solid #bfbfbf;
    box-shadow: 0 0 10px 0 #bfbfbf;
}

.team-card:hover{
    box-shadow: 0 0 10px 0 steelblue;
}

.team-card:hover h3, .team-card.hover h3{
    color: steelblue;
}

.team-card img{
    width: 100%;
}

.team-card p{
    padding: 0px;
}

/*stats*/
#stats{
    margin-bottom: 50px;
    border-top: 2px dotted #898989;
}

#stats .content{
    text-align: center;
    display: grid;
    gap: 5%;
    grid-template-columns: 300px 300px 300px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.stats-card{
    max-width: 300px;
    position: relative;
    width: 100%;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    background-color: #4d4d4d;
    text-align: center;
    height: 100%;
}

.stats-card:hover{
    background-color: steelblue;
    border: 1px solid steelblue;
}

.stats-card h3{
    color: white;
}

.stats-card p{
    color: #898989;
}

.stats-card > i {
    font-size: 25px;
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    color: steelblue;
    padding: 5px;
    margin-top: -20px;
    left: calc(48% - 11.5px);
}

/*Price & Schedule*/
#price{
    width: 100%;
    background-color: #f7f7f7;
    padding-bottom: 80px;
}

#price .content{
    width: 100%;
}

#price table{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border-collapse: separate; 
    border-spacing: 0px 20px;
    color: #898989;
    text-align: left;
}

#price table button{
    padding: 20px;
    border-radius: 5px;
    border-color: steelblue;
}

#price table button:hover{
    background-color: steelblue;
    color: white;
}

#price th{
    font-weight: bold;
    color: black;
}

#price td{
    border-top: 2px solid#bfbfbf;
    border-bottom: 2px solid #bfbfbf;
}

#price tbody tr:hover{
    background-color: white;
}

#price td, th{
    padding: 20px;
}

#price td ul li:first-child{
    list-style-type: none;
    color: #4d4d4d;
    font-weight: bold;
    margin-left: -17px;
}

#price td ul li{
    width: auto;
    list-style-type: disc;
    margin-right: 30px;
}

#refs{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}

/*refs*/
.refs-card{
    width: 45%;
    padding: 0;
    margin: 0;
}

.refs-card:hover blockquote{
    border: 1px solid steelblue;
    background-color: steelblue;
}

.refs-card:hover blockquote::after{
    border-color: steelblue white white steelblue;
}

.refs-card:hover blockquote::before{
    color: white;
}

.refs-card:hover h3{
    color: steelblue;
}

.refs-card blockquote{
    position: relative;
    border: 1px solid #4d4d4d;
    background-color: #4d4d4d;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    padding: 20px;
    max-width: 400px;
    margin-bottom: 30px;
}

blockquote::after{
    content: " ";
    position: absolute;
    top: 100%;
    left: 10%;
    border: 10px solid;
    border-color: #4d4d4d white white #4d4d4d;
}

blockquote span{
    width: 70%;
    padding-left: 30px;
    display: block;
}

blockquote::before{
    content: "\"";
    position: absolute;
    display: inline-block;
    font-style: italic;
    font-size: 80px;
    height: 90px;
    color: steelblue;
    padding-right: 5px;
    left: 5px;
    top: -15px;
}

.refs-card:first-child{
    float: left;
}

.refs-card:last-child{
    float: right;
}

#refs figure{
    display: flex;
}

#refs img{
    width: 60px;
    border-radius: 50%;
    float: left;
}

#refs h3{
    float: right;
    margin: 10px;
    font-weight: unset;
    margin-left: 20px;
    font-size: 20px;
}

.refs-card blockquote span{
    width: 150px;
}

/*Contact*/
#contact{
    border-top: 2px dotted #898989;
    margin-top: 40px;
    margin-bottom: 40px;
    overflow: hidden;
}

#contact .content:not(:first-child){
    display: flex;
}

#map{
    width: 48%;
    height: 400px;
    float: left;
    margin: 20px;
    margin-right: 10px;
}

#contact form{
    float: right;
    width: 48%;
}

#contact form input, textarea{
    color: steelblue;
}

#contact form ::placeholder{
    color: steelblue;
}

#contact form input:focus, textarea:focus{
    outline-color: green;
}

#contact form input:invalid {
    color: red;
}

#contact form #contact-name{
    width: 45%;
    float: left;
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid steelblue;
}

#contact form #contact-email{
    width: 45%;
    float: right;
    margin-top: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid steelblue;  
}

#contact form #contact-subject{
    width: 98%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    padding-right: 0;
    border: 1px solid steelblue;
}

#contact form #contact-message{
    width: 98%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px;
    padding-right: 0;
    border: 1px solid steelblue;
}

#contact form #contact-submit{
    border-radius: 5px;
    margin-left: 29%;
    padding: 10px;
    margin-bottom: 60px;
    border: 1px solid steelblue;
    background-color: steelblue;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
}

#contact form #contact-submit:hover{
    background-color: green;
    border: 1px solid green;
}
/*footer*/
#footer{
    background-color: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 100%;
    overflow: hidden;
    color: white;

}

#footer .content a{
    color: #4d4d4d;
    text-decoration: none;
    float: right;
}

#footer .content:first-child{
    text-align: left;
    color: #4d4d4d;
}